/* Adjust this according to your layout */

.sidebar-miniheader {
    font-size: 130%;
    font-weight: 600;
}

.sidebar-brand-text {
    font-size: 115%;
    font-weight: 500;
}

.nav-link {
    font-weight: 500;
    padding-top: 0.3rem !important;
}

.sidebar .nav-item .nav-link span {
  font-size: 1rem;
}